
<!-- Modal -->
<div class="modal fade" [ngClass]="{'show': isOpen}" [ngStyle]="{'display': isOpen ? 'block' : ''}" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" (click)="isOpen=false">&times;</button>
      </div>
      <div class="modal-body">
        <p>{{confirmText}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirm()">{{btnConfirmText}}</button>
        <button type="button" class="btn btn-default" (click)="isOpen=false">{{btnCancelText}}</button>
      </div>
    </div>

  </div>
</div>