<app-header></app-header>

<div class="container">

<h1>Users</h1>

<a routerLink="/user" class="btn btn-info btn-create">Create</a>

<table class="table">
    <thead>
        <td>FirstName</td>
        <td>LastName</td>
        <td>MobileNo</td>
        <td>Action</td>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList;">
            <td >{{user.FirstName}}</td>
            <td>{{user.LastName}}</td>
            <td>{{user.MobileNo}}</td>
            <td>
                <a [routerLink]="'/user/'+user.id">Edit</a>
                <a href="javascript:void(0)" class="offset-md-1" (click)="confirmDelete(user.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

</div>

<app-confirm-dialog 
    title="Confirm Delete"
    confirmText="Are you sure to Delete?"
    btnConfirmText="Continue"
    btnCancelText="Cancel"
    (isConfirm)="isConfirm()"
    ></app-confirm-dialog>