.ng-invalid.ng-touched {
    border-color: red;
}

.ng-valid.ng-touched {
    border-color: green;
}

.lbl-error {
    color: red;
}

.txt-logout {
    position: absolute;
    top: 15px;
    right: 40px;
}